li {
  list-style-type: none;
  margin: 12px;
  padding: 5px;
  border: 1px solid black;
  width: 500px;
}

table {
  border-collapse: collapse;
  width: 500px;
}

table, th, td {
  border: 1px solid black;
}

td {
  text-align: center;
}


